__pycache__/
*.pyc
.pytest_cache/
.venv/
node_modules/
dist/
.expo/
.env
backend/*credentials*.json
backend/*credentails*.json
backend/pamudu-dev-*.json
package-lock.json

backend/gcp_credentials.json
